<CaseOf @kind={{this.active}} as |when|>
  <when.just as |data|>
    <EmberWormhole @to="modal-container">
      <div class="modal-outer" {{on-key "_all" this.input}}>
        {{yield (hash overlay=(component 'modal/yield' class="modal-overlay")) to="overlay"}}

        <div class="modal-positioner">
          <div class="modal-content color-container-1" ...attributes>
            {{yield data to="content"}}
          </div>
        </div>
      </div>
    </EmberWormhole>
  </when.just>
</CaseOf>
