{{#if this.active}}
  <EmberWormhole @to="modal-container">
    <div class="modal-outer" {{on-key "_all" this.input}}>
      {{yield (hash overlay=(component 'modal/yield' class="modal-overlay")) to="overlay"}}

      <div class="modal-positioner">
        <div class="modal-content" ...attributes>
          {{yield to="content"}}
        </div>
      </div>
    </div>
  </EmberWormhole>
{{/if}}
