html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button,
.button {
  @apply px-2 py-1 bg-blue-400 rounded-sm text-white border-blue-500 border-solid border inline-block;
}

button:hover,
.button:hover {
  @apply bg-blue-800 border-blue-900;
}

button:disabled,
.button:disabled,
.button[aria-disabled=true] {
  @apply bg-gray-300 border-gray-400 text-gray-700 cursor-not-allowed;
}


input[type=text] {
  @apply px-2 py-1 rounded-sm;
}

input[type=text] {
  @apply bg-white border-gray-300 border;
}

table th,
table td {
  @apply px-2 py-1 border-gray-300 border border-solid;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-600;
}

.dropdown {
  @apply bg-white border-solid border border-gray-400 rounded-sm;
  min-width: 200px;
}

.dropdown-option {
  @apply cursor-pointer px-3 py-2;
}

.dropdown-option:hover {
  @apply bg-gray-100;
}
