html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-800;
}

#modal-container {
  @apply absolute w-full overflow-visible z-20;
  top: 0;
  left: 0;
  height: 0;
}

.color-container-1 {
  @apply border-gray-800 bg-gray-900 text-gray-400;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.80);
}

a {
  @apply bg-transparent;
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-600;
}

button,
.button {
  @apply px-2 py-1 rounded-sm;
  @apply whitespace-nowrap overflow-ellipsis text-center inline-block;
  @apply text-blue-500;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.90);
}

button:hover,
.button:hover {
  @apply text-blue-600;
  background-color: rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.85);
}

button:disabled,
.button:disabled,
.button[aria-disabled=true] {
  @apply cursor-not-allowed;
  color: rgba(255, 255, 255, 0.15);
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.75);
}

button.icon,
.button.icon {
  @apply px-0 py-0;
  @apply border-none;
}

input[type=text] {
  @apply px-2 py-1 rounded-sm;
  background-color: rgba(0,0,0,0.85);
  border: 1px solid rgba(255,255,255,0.20);
  outline: none;
  color: rgba(255,255,255,0.50);
}

input[type=text]:focus {
  border: 1px solid rgba(255,255,255,0.25);
  color: rgba(255,255,255,0.60);
}

table {
  border-collapse: separate; 
  border-spacing: 0; 
  box-shadow: 0px 1px 5px 3px rgb(255, 255, 255, 1.5%)
}

table th,
table td {
  @apply px-2 py-1 text-left;
  border: 1px solid rgba(0, 0, 0, 0.95);
  border-style: none none solid solid;
  background-color: rgba(0, 0, 0, 0.2);
}

table tr th:last-child,
table tr td:last-child {
  border-style: solid solid solid solid;
}

table tr th,
table tr td.table-head {
  border-top-style: solid;
}

table tr:first-child th,
table tr:first-child td.table-head {
  @apply font-bold;
  background-color: rgba(0, 0, 0, 0.4);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

table th:last-child {
  border-top-left-radius: 3px;
}

table th:first-child {
  border-top-left-radius: 3px;
}

table tr:nth-child(odd) td {
  @apply bg-gray-100;
  background-color: rgba(0, 0, 0, 0.0);
}

.dropdown {
  @apply bg-white border-solid border border-gray-400 rounded-sm shadow-sm;
  min-width: 200px;
}

.dropdown-option {
  @apply cursor-pointer px-3 py-2 flex items-center;
}

.dropdown-option:hover {
  @apply bg-gray-100;
}

.modal-content {
  @apply inline-block p-8 z-30 relative;
  @apply rounded-sm shadow-sm;
  margin: auto;
}

.modal-overlay,
.modal-positioner,
.modal-outer {
  @apply absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-overlay {
  @apply z-20;
  background-color: rgba(0, 0, 0, 0.80);
}

.modal-positioner {
  @apply flex items-center;
}

button.warning {
  @apply bg-yellow-300 text-yellow-900 border-yellow-900;
}

button.warning:hover {
  @apply bg-yellow-400;
}

.tab-container {
  @apply flex items-center;
}

.tab {
  @apply border-solid border px-3 py-2 inline-block;
  @apply border-r-0;
  @apply relative;
  border-color: rgba(0,0,0,0.90);
}

.tab:first-child {
  @apply rounded-bl;
  @apply rounded-tl;
}

.tab:last-child {
  @apply border-r;
  @apply rounded-br;
  @apply rounded-tr;
}

.active-tab {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
}

.active-tab:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: calc(50% - 5px);
  top: -5px;
  transform: rotate(45deg);
  background-color: rgba(0,0,0,0.90);
}

.toast-container {
  @apply absolute;
  top: 100%;
  width: 100%;
}

.toast {
  @apply px-4 py-3 rounded-sm flex items-center mb-3;
  width: 50vw;
  margin-left: 25vw;
  background: red;
}

.toast[data-treatment=warning] {
  @apply bg-yellow-600;
  @apply border border-solid border-yellow-500;
  @apply text-yellow-900;
}

.toast[data-treatment=warning] button {
  @apply text-yellow-900;
  background-color: rgba(0,0,0,0.00);
}

.toast[data-treatment=warning] button:hover {
  @apply text-yellow-800;
  background-color: rgba(0,0,0,0.00);
}
