<CaseOf @kind={{this.model}} as |case|>
  {{#case.ok as |model|}}
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>join</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.tables key="id" as |table|}}
          <tr>
            <td>{{table.id}}</td>
            <td><a href="#" {{on "click" (fn this.joinTable table)}}>join</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/case.ok}}
</CaseOf>
