<header>
  <CaseOf @kind={{this.model}} as |when|>
    <when.just as |identity|>
      <nav>
        <LinkTo @route="home">home</LinkTo>
      </nav>
      <aside>
        <p>{{identity.nickname}} | {{identity.balance}}</p>
      </aside>
    </when.just>
  </CaseOf>
</header>
<main>
  <aside></aside>
  <section>{{outlet}}</section>
</main>
<footer></footer>
