<header class="flex py-1 px-1">
  <CaseOf @kind={{this.model}} as |when|>
    <when.just>
      <nav role="tabpanel">
        <LinkTo @route="home">Home</LinkTo>
      </nav>

      <aside role="menu" class="ml-auto">
        {{!-- UserMenu uses it's own service injection to be notified when the player's balance is updated --}}
        <Application::UserMenu />
      </aside>
    </when.just>
  </CaseOf>
</header>

<main class="w-full relative">
  <div class="w-full flex relative">
    <aside role="tablist" class="pl-1">
      Oncore
    </aside>

    <section class="ml-4 pr-1 flex-1">{{outlet}}</section>
  </div>
</main>
<footer></footer>
